body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
img {
  display: block;
}
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header .inner {
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  background-color: lightgreen;
}