body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
img {
  display: block;
}
.inner {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
/* header ********************************************************************/
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}
header>.inner {
  height: 120px;
}
header img {
  position: absolute;
  top: 0; bottom: 0;
  margin: auto 0;
}
/* swiper ********************************************************************/
.swiper>.inner {
  height: 400px;
  background-color: orange;
}
/* 1st block *****************************************************************/
.block1>.inner {
  height: 500px;
  background-color: lightgreen;
}